.dashboard-left-buttons {
  width: 170px;
  padding: 10px 20px;
  font-weight: bold;
}

.dashboard-left-buttons:hover {
  background-color: #f0f0f0;
  color: black;
}

@media (min-width: 1024px) {
  .dashboard-left-buttons {
    width: 250px;
  }
}

@media (min-width: 1090px) {
  .dashboard-left-buttons {
    width: 270px;
  }
}

@media (min-width: 1500px) {
  .dashboard-left-buttons {
    width: 320px;
  }
}

@media (max-width: 576px) {
  .dashboard-left-buttons {
    width: 400px;
    padding: 10px;
    font-size: 14px;
  }
}
